In [1]:
import sys
import os
import pandas as pd

project_root = os.path.abspath("..")
sys.path.append(project_root)

In [2]:
from src.maerkte import kmeans_cluster_maerkte, synth_maerkte
from src.bestellungen import kmeans_cluster_bestellungen, synth_bestellungen
from src.bestellpositionen import synth_bestellpositionen

df = pd.read_parquet('C:/Users/fabik/OneDrive/Projekte/gaussian_copula_bachelor_thesis/data/raw/orderlines_dezember.parquet')[['Datum', 'Marktnummer', 'Artikelnummer', 'MengeInKolli', 'Markierung']]

## Test auf Marktebene

### Marktcluster

In [3]:
df_maerkte = df.copy()

df_maerkte = kmeans_cluster_maerkte(df_maerkte)

df_maerkte

     Marktnummer  diff_article  avg_kolli  orders  cluster
0       44400003          7966        1.0      20        2
1       44400005          9676        1.0      21        2
2       44400017          4587        1.0      11        1
3       44400019          1187        1.0       1        0
4       44400021          6233        1.0       8        1
..           ...           ...        ...     ...      ...
404     69630657             9        2.0       3        0
405     69630913            10        2.0       2        0
406     69630927            14        5.0       2        0
407     69630960            10        2.0       4        0
408     83210412          1135        1.0      10        0

[409 rows x 5 columns]

### Marktgenerierung

In [4]:
maerkte_neu = synth_maerkte(df_maerkte, 50)

maerkte_neu

    Marktnummer  diff_article  avg_kolli  orders  cluster
0             1          7862        1.0      18        2
1             2          9502        1.0      16        2
2             3          7493        1.0      22        2
3             4          6759        1.0      17        2
4             5         10719        1.0      21        2
5             6          6990        1.0      21        2
6             7          4935        1.0      10        1
7             8          3686        1.0       7        1
8             9          3859        1.0       8        1
9            10          3758        1.0      11        1
10           11          3235        1.0       8        1
11           12          2980        1.0       7        1
12           13          5990        1.0      12        1
13           14          3119        1.0      10        1
14           15          3861        1.0      11        1
15           16          3472        1.0      11        1
16           17          4920        1.0      12        1
17           18          7270        1.0       8        1
18           19          3964        1.0       7        1
19           20          5058        1.0       9        1
20           21          5164        1.0      12        1
21           22          2688        1.0       8        1
22           23          6595        1.0      12        1
23           24          4435        1.0       8        1
24           25          6518        1.0      11        1
25           26          4996        1.0      11        1
26           27          6921        1.0      13        1
27           28          3242        1.0       7        1
28           29            63        1.0       8        0
29           30           867        1.0       8        0
30           31          2658        1.0       3        0
31           32           348        1.0       8        0
32           33             1       14.0       7        0
33           34           363        1.0       6        0
34           35          1020       13.0       8        0
35           36          1527        7.0       8        0
36           37          1510        1.0       5        0
37           38          2613        5.0      10        0
38           39          1576        7.0       8        0
39           40             1      113.0       4        0
40           41           851        7.0       2        0
41           42           427        1.0       9        0
42           43             1       15.0       2        0
43           44          1014       10.0       3        0
44           45           935        1.0       7        0
45           46          1885        9.0       6        0
46           47             1        9.0       8        0
47           48           367        2.0       1        0
48           49          1167        1.0       5        0
49           50          1193        1.0       8        0
50           51          1034        4.0       8        0

In [5]:
maerkte_neu['avg_kolli'].median()

np.float64(1.0)

## Test auf Bestellebene

### Bestellcluster

In [6]:
df_bestellungen = df.copy()

df_bestellungen = kmeans_cluster_bestellungen(df_bestellungen)

df_bestellungen

,order_id,Marktnummer,Datum,Wochentag,orderlines,diff_sortimente,cluster
0,0,44400003,2024-12-02,0,791,100,0
1,1,44400003,2024-12-03,1,919,100,0
2,2,44400003,2024-12-04,2,1388,100,0
3,3,44400003,2024-12-05,3,954,100,0
4,4,44400003,2024-12-06,4,971,100,0
...,...,...,...,...,...,...,...
3806,3806,83210412,2024-12-16,0,142,73,0
3807,3807,83210412,2024-12-18,2,156,79,0
3808,3808,83210412,2024-12-23,0,94,57,1
3809,3809,83210412,2024-12-27,4,182,86,0
3810,3810,83210412,2024-12-30,0,114,67,0

### Bestellgenerierung

In [7]:
bestellungen_neu = synth_bestellungen(df_bestellungen, df_maerkte, maerkte_neu)


bestellungen_neu

,Wochentag,orderlines,diff_sortimente,Datum,Marktnummer,cluster_bestellungen,cluster_markt,order_id
0,4,987,101,2024-12-21,1.0,0,2.0,1
1,2,149,84,2024-12-14,1.0,0,2.0,2
2,0,218,98,2024-12-07,1.0,0,2.0,3
3,3,714,99,2024-12-06,1.0,0,2.0,4
4,0,182,84,2024-12-21,1.0,0,2.0,5
...,...,...,...,...,...,...,...,...
465,1,548,98,2024-12-06,51.0,0,0.0,466
466,1,1216,100,2024-12-30,51.0,0,0.0,467
467,4,944,101,2024-12-17,51.0,0,0.0,468
468,1,590,100,2024-12-03,51.0,0,0.0,469
469,5,6,5,2024-12-21,51.0,1,0.0,470

In [8]:
df_bestellungen.columns

Index(['order_id', 'Marktnummer', 'Datum', 'Wochentag', 'orderlines',
       'diff_sortimente', 'cluster'],
      dtype='object')

In [9]:
bestellungen_neu.columns

Index(['Wochentag', 'orderlines', 'diff_sortimente', 'Datum', 'Marktnummer',
       'cluster_bestellungen', 'cluster_markt', 'order_id'],
      dtype='object')

## Test auf Bestellpositionseben

### Bestellpositionen generieren

In [10]:
positionen_neu = synth_bestellpositionen(df, df_bestellungen, bestellungen_neu)

In [11]:
positionen_neu

,order_id,Marktnummer,Datum,cluster_bestellungen,Artikelnummer,MengeInKolli
0,1,1.0,2024-12-21,0,5086221 0015,1
1,1,1.0,2024-12-21,0,6485383 0012,1
2,1,1.0,2024-12-21,0,0674771 0006,1
3,1,1.0,2024-12-21,0,7576766 0015,1
4,1,1.0,2024-12-21,0,8931297 0010,1
...,...,...,...,...,...,...
332601,470,51.0,2024-12-21,1,0708264 0006,2
332602,470,51.0,2024-12-21,1,0254801 0024,1
332603,470,51.0,2024-12-21,1,0903488 0006,1
332604,470,51.0,2024-12-21,1,9019559 0018,1
332605,470,51.0,2024-12-21,1,0518751 0006,1